# Archivos y carpetas de macOS
.DS_Store
.Trash/
# Archivos del entorno virtual
venv/
# Archivos de configuración de usuario
*.save
*.history
# Otros directorios innecesarios
Library/
Downloads/
Movies/
Music/
Pictures/
Public/
